html {
  background-color: lightgrey;
  overflow-y: hidden;
}
header {
font-family: arial;
}
.bar {
  background-color: #808080;
  color: white;
  height: 100vh;
  width: 100px;
}
a {
  text-decoration: none;
  overflow: hidden;
  color: black;

  font-size: 125%
}
