<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

table {
  text-align: center;
  vertical-align: middle;
  border-spacing: 10px;
}

</style>

<img src="img/nothing.png" / height="40%">
<table height=20% width=20% align=center>
  <tr>
      <th><a href="mailto://info@1yanik3.com"><img src="img/envelope.png" height="128px" /></th></a>
      <th><a href=""><img src="img/nothing.png" height="128px" /></th></a></a>
      <th><a href=""><img src="img/nothing.png" height="128px" /></th></a>
      <th><a href="https://twitter.com/1Yanik3"><img src="img/twitter.png" height="128px" /></th></a>
  </tr>

  <tr>
      <th><a href="http://www.1yanik3.com:8123/"><img src="img/minecraft.png" height="128px" /></th></a>
      <th><a href="ts3server://ts.1Yanik3.com/"><img src="img/teamspeak.png" height="128px" /></th></a>
      <th><a href="https://www.youtube.com/channel/UCaHyfi179fosQT2GNlHY7mg"><img src="img/youtube.png" height="128px" /></th></a>
      <th><a href="https://play.google.com/store/apps/developer?id=1Yanik3"><img src="img/google-play.png" height="128px" /></th></a>
  </tr>
<img src="img/nothing.png" / height="40%">
</table>
