{ margin: 0; padding: 0; }

p.white {
	color: white;
}

td.white {
	border:none !important;
	border: 0;
}


td.rocher {
	background-color: #4caf50;
}

td.thomas {
	background-color: #f44336;
}

td.food {
	background-color: #ffa000;
}

td.earth {
	background-color: #4caf50;
}

td.addobe {
	background-color: #7b1fa2;
}

td.red {
	background-color: #0097a7;
}

* {
	font-family: "Calibri";
}

h1, h2, h3 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
body {
	font-size: 18px;
	line-height: 1.4em;
}
table {
	#width: 35%;
	border-collapse: collapse;
}
td, th {
	text-align: center;
	border: 1px solid;
	padding-left: 5px;
}


html {
	background: url('wallpaper_main1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table;
    margin: auto;
} 

html, body {
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}