{ margin: 0; padding: 0; }

* {
	font-family: "Calibri";
}

html {
	background: url('WALLPAPER') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table;
    margin: auto;
} 

html, body {
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}