body {
    background: url("bg.png");
    background-size: 100% 100%;
}
h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 46%;
    right: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
